<section class="dialog-content">
  <h1>Add event</h1>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="first_name" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="last_name" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phone" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select formControlName="type" placeholder="Manager">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button (click)="save()" mat-button>Save</button>
  </mat-dialog-actions>
</section>
