<div id="container" *ngIf="loaded">
  <h2>News</h2>
  <mat-divider></mat-divider>
  <div id="news-list-container">
    <mat-card id="news-item" *ngFor="let article of articles">
      <mat-card-content>
        <a class="nostyle" [href]="article.url">
          <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt="no image provided"/>
          <div *ngIf="!article.urlToImage" class="placeholder-icon-container">
            <mat-icon class="placeholder-icon">newspaper</mat-icon>
          </div>
          <div id="news-item-text">
            <div id="news-item-title">{{article.title}}</div>
            <div id="news-item-author">{{article.author}}</div>
          </div>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
