<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <div class="title">
        <mat-icon class="menu-icon">edit</mat-icon>
        Add or edit an existing item
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <div class="title-title">
        Title:
      </div>
      <div class="section-title">
        <textarea (ngModelChange)="handleChange('title', $event)" [ngModel]="title" matInput placeholder="Title" rows="2"></textarea>
      </div>
      <div class="title-content">
        Content:
      </div>
      <div class="section-content">
        <textarea (ngModelChange)="handleChange('content', $event)" [ngModel]="content" matInput placeholder="Content" rows="3"></textarea>
      </div>
      <div class="title-observations">
        Observations:
      </div>
      <div class="section-observations">
        <textarea (ngModelChange)="handleChange('observations', $event)" [ngModel]="observations" matInput placeholder="Observations" rows="4"></textarea>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addNew()">
      <mat-icon *ngIf="isNew" class="new-icon">add_circle_outline</mat-icon>
      <div id="save-text" *ngIf="!isNew">SAVE</div>
    </button>
  </mat-card-actions>
</mat-card>
