<div class="news" *ngIf="loaded">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <div class="section-title">
          <mat-icon class="menu-icon">article</mat-icon>
          News
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p id="news-title">{{newsTitle}}</p>
      <img *ngIf="newsImageUrl" src="{{newsImageUrl}}" width="100" height="100" alt="Imgn't"/>
      <div *ngIf="!newsImageUrl" class="placeholder-icon-container">
        <mat-icon class="placeholder-icon">newspaper</mat-icon>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="navigateToNews()" mat-button id="read-more-button">READ MORE</button>
    </mat-card-actions>
  </mat-card>
</div>
