.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.left-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  overflow-y: auto;
  max-height: 100%;
}

.right-half {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
}

.signup-btn{
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  font-size: 20px;
  font-family: Roboto;
  line-height: auto;
  color: #2b6777;
}

.login-btn {
  padding: 10px;
  width: 250px;
  background-color: #2b6777;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  line-height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.forgot-password {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-family: Roboto;
  line-height: auto;
  color: #2b6777;
}

.img-1 {
  height: 199px;
  width: 277px;
  padding: 10px;
  margin-bottom: 10px;
}

.space130 {
  height: 130px;
}
.space30 {
  height: 30px;
}

.input{
  border: none;
  border-radius: 20px;
  height: 20px;
  width: 300px;
  margin-bottom: 15px;
  background-color: #d9d9d9;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: Roboto;
  color: rgba(43, 103, 119, 0.5);
}
