.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #eee;
}

mat-sidenav {
  width: 16.66%;
  padding: 80px 0 80px 60px;
  border: 0;
}

app-menu {
  height: 100%;
}

#content-tile {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
}

#news-tile, #from-manager-tile.isFirst {
  grid-column: 5 / 7;
  grid-row: 1;
  margin:0 20px 30px;
}

#from-manager-tile {
  grid-column: 5 / 7;
  grid-row: 2;
  margin:0 20px 30px;
}

#sidenav-content-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 28vh);
}


#content-tile {
  background-color: white;
  margin: 0 10px 0 30px;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

