<mat-sidenav-container class="app-container" *ngIf="selectedOption !== ''">
  <mat-sidenav mode="side" opened>
    <app-menu [selectedOption]="selectedOption"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="sidenav-content-container">
      <div id="content-tile">
        <router-outlet></router-outlet>
      </div>
      <div id="news-tile" *ngIf="selectedOption !== 'newspaper'">
        <app-news style="height: 100%;"></app-news>
      </div>
      <div id="from-manager-tile" [class.isFirst]="selectedOption === 'newspaper'" *ngIf="selectedOption !== 'manager'">
        <app-from-manager style="height: 100%;"></app-from-manager>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="selectedOption === ''"></router-outlet>
