<mat-sidenav-container class="app-container" *ngIf="selectedOption !== ''">
  <mat-sidenav mode="side" opened>
    <app-menu [selectedOption]="selectedOption"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list cols="6" rowHeight="33.33%">
      <mat-grid-tile  [colspan]="4" [rowspan]="3">
        <div id="content-tile">
          <router-outlet></router-outlet>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <app-news style="height: 100%;" *ngIf="selectedOption !== 'newspaper'"></app-news>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="selectedOption === ''"></router-outlet>
