<div id="progress-container">
  <div id="time-and-pie">
    <div id="time-period-section">
      From
      <div class="date-picker">
        Start date
        <input (ngModelChange)="handleChange('startDate', $event)" [ngModel]="startDate" type="date">
      </div>
      to
      <div class="date-picker">
        End date
        <input (ngModelChange)="handleChange('endDate', $event)" [ngModel]="endDate" type="date">
      </div>
    </div>
    <div id="pie-chart-section">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div id="circle-progress-section">
    <div id="circle-progress-section-text">
      <div id="circle-progress-section-title">
        <mat-icon class="menu-icon">file_present</mat-icon>
        Percentage of collaboration contracts signed / nr of clients
      </div>
      <mat-divider></mat-divider>
      <div id="circle-progress-section-content">
        Until now, you have {{ number_of_clients }} clients, {{ number_of_contracts }} of which you signed a collaboration contract with.
      </div>
    </div>
    <circle-progress
      [animationDuration]="0"
      [animation]="false"
      [innerStrokeWidth]= 10
      [lazy]= false
      [outerStrokeGradient]= true
      [outerStrokeWidth]= 10
      [percent]="percentage"
      [radius]=40
      [showBackground]= false
      [showSubtitle]=false
      [showTitle]=true
      [showUnits]=false
      [space]= -10
      [startFromZero]= false
      [title]="percentage + '%'"
      id="circle-progress"
      innerStrokeColor= "#e7e8ea"
      outerStrokeColor= "#226fc3"
      outerStrokeGradientStopColor= "#53a9ff"
      subtitleFontSize= "22"
    ></circle-progress>
  </div>
  <div id="progress-bar-section">
    <div id="progress-bar-section-title">
      <mat-icon class="menu-icon">groups</mat-icon>
      Clients/year target progress
    </div>
    <mat-divider></mat-divider>
    <div id="progress-bar-section-content">
      <div>
        {{ number_of_clients }}/{{ target }} clients
      </div>
      <mat-progress-bar [value]="number_of_clients / target * 100" mode="determinate"></mat-progress-bar>
    </div>
    <button (click)="openDialog()" *ngIf="isEditable" id="modify-btn">MODIFY TARGET</button>
  </div>
</div>
