<div style="background-color: white">
  <div class="container">
    <div class="left-half">
      <img src="../../../../assets/logo.png" alt="Image" class="image img-1">
      <div class="space130" ></div>
      <form>
        <input type="text" class="input" id="username" placeholder="Username">
        <input type="password" class="input" id="password" placeholder="Password">
        <div class="space30" ></div>
        <button class="enter-btn">Login</button>
      </form>

      <a href="#" class="forgot-password">Forgot your password?</a>
      <button class="back-btn" (click)="goToSignUp()">Sign up for an account</button>
    </div>

    <div class="right-half">
      <img src="../../../../assets/login_img.png" alt="Image" class="image">
    </div>
  </div>
</div>
