<div style="background-color: white">
  <div class="container">
    <div class="left-half">
      <img ngSrc="../../../../assets/logo.png" alt="Image" class="image img-1" height="405" width="560">
      <div class="space130" ></div>
      <div class="error" *ngIf="credentialsError">Invalid credentials! Please try again<br>(If you have just signed up, your request is pending)</div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
        <input type="text" class="input" id="username" placeholder="Username" formControlName="username">
        <input type="password" class="input" id="password" placeholder="Password" formControlName="password">
        <div class="space30" ></div>
        <button type="submit" class="enter-btn">Login</button>
      </form>

      <button class="back-btn" (click)="goToSignUp()">Sign up for an account</button>
    </div>

    <div class="right-half">
      <img src="../../../../assets/login_img.png" alt="Image" class="image">
    </div>
  </div>
</div>
