.dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 24px 32px 40px;
  width: 60vw;
}

#delete-btn {
  background-color: #ff1212;
  color: white;
}

#description {
  word-wrap: break-word;
}
