<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <div class="section-title">
        <mat-icon class="menu-icon">saved_search</mat-icon>
        {{note.title}}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="section-content">
      <div class="section-content-title">
        Observations:
      </div>
      <div class="section-content-observations">
        {{note.observations}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
