<div class="team-information">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <div class="section-title">
          <mat-icon class="menu-icon">groups</mat-icon>
          Team information
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div *ngFor="let consultant of consultants" class="member">
          <div id="consultant-name">{{consultant.name}}</div>
          <button (click)="openProgress(consultant.name)" class="read-more-button" mat-button>INSPECT PROGRESS</button>
          <button (click)="deleteUser(consultant.name)" class="delete-user-button" mat-button>DELETE USER</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
