<div class="team-information">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <div class="section-title">
          <mat-icon class="menu-icon">groups</mat-icon>
          Team information
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="member" *ngFor="let consultant of consultants">
          <div id="consultant-name">{{consultant.name}}</div>
          <button (click)="openProgress(consultant.name)" mat-button id="read-more-button">INSPECT PROGRESS</button>
          <button (click)="deleteUser(consultant.name)" mat-button id="delete-user-button">DELETE USER</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
