.team-information {
  font-size: 18px;
  background-color: transparent;
  margin-right: 60px;
  height: 100%;
}

.card {
  border-radius: 15px;
  height: 100%;
  display: flex;
}

#news-title {
  margin: 0 10px;
}

.menu-icon {
  margin-right: 5px;
  font-size: 24px;
}

mat-card-content {
  display: flex;
  align-items: center;
}

button {
  font-size: 10px;
  text-align: center;
  padding: 15px;
  height: 1rem;
  border-radius: 20px;
  margin-right: 10px;
  width: 80px;
  text-wrap: normal;
  line-height: 1;
}

.read-more-button {
  background-color: #52AB98;
  color: white;
}

.delete-user-button {
  background-color: #e80e0e;
  color: white;
}

#consultant-name {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: scroll;
}

.member {
  font-size: 14px;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin: 5px;
}
