.menu {
  background-color: #2b6777;
  color: white;
  height: 100%;
  border-radius: 20px;
  font-size: 18px;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 13px 13px 13px 15px;
}

.menu-item:last-of-type {
  position:absolute;
  margin-bottom: 10px;
  bottom:0;
}

.menu-item:first-of-type {
  margin-bottom: 15px;
}

.menu-icon {
  margin-right: 15px;
  font-size: 24px;
}

.menu-item.active {
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px 12px 12px 14px;
}

#user-icon {
  background-color: black;
  width:50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}

::ng-deep .mat-drawer {
  background-color: transparent;
}
