<div class="menu">
  <div (click)="navigateTo('user')" [class.active]="selectedOption === 'user'" class="menu-item">
    <mat-icon class="menu-icon">person</mat-icon>
    Username
  </div>
  <div (click)="navigateTo('dashboard')" [class.active]="selectedOption === 'dashboard'" class="menu-item">
    <mat-icon class="menu-icon">home</mat-icon>
    Dashboard
  </div>
  <div (click)="navigateTo('calendar')" [class.active]="selectedOption === 'calendar'" class="menu-item">
    <mat-icon class="menu-icon">calendar_today</mat-icon>
    Calendar
  </div>
  <div (click)="navigateTo('newspaper')" [class.active]="selectedOption === 'newspaper'" class="menu-item">
    <mat-icon class="menu-icon">article</mat-icon>
    Newspaper
  </div>
  <div (click)="navigateTo('manager')" [class.active]="selectedOption === 'manager'" class="menu-item">
    <mat-icon class="menu-icon">people</mat-icon>
    From manager
  </div>
  <div (click)="navigateTo('goals')" [class.active]="selectedOption === 'goals'" class="menu-item">
    <mat-icon class="menu-icon">access_time</mat-icon>
    My goals
  </div>
  <div (click)="navigateTo('chat')" [class.active]="selectedOption === 'chat'" class="menu-item">
    <mat-icon class="menu-icon">chat</mat-icon>
    Team Chat
  </div>
  <div class="space350" ></div>
  <div (click)="logout()" class="menu-item" style="margin-top: 20px;">
    <mat-icon class="menu-icon">exit_to_app</mat-icon>
    Logout
  </div>
</div>
